:root{
    --blanco: #ffffff;
    --negro: #212121;
    --amarillo: #ffe41b;
    --azul: #003cff;
    --gris: #616161;
    --grisClaro: #cacaca;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}
*, *:before, *:after{
    box-sizing: inherit;
}
.header,
.main-servicios,
.navegacion-principal,
.section-formulario,
.footer{
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
body{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
}
a{
    text-decoration: none;
}
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1,h2,h3{
    text-align: center;
}
.sombra{
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.71);
    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.71);
    padding: 2rem;
    border-radius: 0.5rem;
}
.titulo span{
    font-size: 2rem;
}
.contenedor{
    max-width: 90rem;
    margin: 0 auto;
}
.boton{
    background-color: var(--azul);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    text-align: center;
    width: 90%;
    border: none;
}
@media (min-width: 768px) {
    .boton{
        width: auto;
    }
}
.boton:hover{
    cursor: pointer;
}
.flex{
    display: flex;
}
.alinear-derecha{
    justify-content: flex-end;
}
@media (min-width: 768px) {
    .w-100{
        width: auto!important;
    }
}
.w-100{
    width: 100%;
}
.nav-bg{
    background-color: var(--azul);
}
.navegacion-principal {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
    }
}
.navegacion-principal a{
    color: var(--blanco);
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}
.navegacion-principal a:hover{
    background-color: var(--amarillo);
    color: var(--negro);
}
.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 1rem;
}
.contenido-hero{
    position: absolute;
    background-color: #000000b2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido-hero h2,
.contenido-hero p{
    color: var(--blanco);
}
.ubicacion {
    display: flex;
    align-items: flex-end;
}
@media (min-width: 768px) {
    .servicios{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}
.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio h3{
    color: var(--azul);
    font-weight: normal;
}
.servicio p{
    text-align: center;
    line-height: 2;
}
.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--amarillo);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* Contacto */
.formulario{
    background-color: var(--gris);
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}
.formulario fieldset{
    border: none;
}
.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--amarillo);
}
textarea{
    width: 100%;
    min-width: 100%;
    max-width: 3rem;
    height: 20rem;
    max-height: 20rem;
    min-height: 20rem;
}
@media (min-width: 768px) {
    .contenedor-campos{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows:  auto auto 20rem;
        column-gap: 1rem;
    }
    .campo:nth-child(3),
    .campo:nth-child(4) {
        grid-column: 1 / 3;
    }
}
.campo{
    margin-bottom: 1rem;
}
.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
    font-size: 1.8rem;
    text-align: left;
}
.input-text{
    width: 100%;
    border: none;
    padding: 1rem;
    border-radius: .5rem;
}
.formulario .btn-formulario{
    margin-top: 3rem;
}
.footer{
    text-align: center;
    color: var(--azul);
    font-weight: bold;
}
